.tabla_generica_res {width:auto; min-width:200px; margin:0 auto; border-collapse:collapse; text-align:center; border:1px;}
.tabla_generica_res th {border-collapse:collapse; background-color:#6c6e04 ; font-size:12px; color:#fff; height:28px; border:1px solid #fff; padding: 4px; min-width: 70px;}
.tabla_generica_res tr {border-collapse:collapse;}
.tabla_generica_res tr:nth-child(odd) {background-color:#c3d39e ;}
.tabla_generica_res tr:nth-child(even) {background-color:#f6f9cd ;}
.tabla_generica_res td {font-size:12px; color:#dcdd92 ; padding:7px; border:1px solid #fff; border-collapse:collapse;}

.tabla_generica {width:auto; min-width:350px; margin:0 auto; border-collapse:collapse; text-align:center; border:1px;}
.tabla_generica th {border-collapse:collapse; background-color:#6c6e04 ; font-size:12px; color:#fff; height:28px; border:1px solid #fff; padding: 4px; min-width: 70px;}
.tabla_generica tr {border-collapse:collapse;}
.tabla_generica tr:nth-child(odd) {background-color:#ecf019 ;}
.tabla_generica tr:nth-child(even) {background-color:#cbe091 ;}
.tabla_generica td {font-size:12px; color:#5b5950 ; padding:7px; border:1px solid #fff; border-collapse:collapse;}
.texto_centrado {text-align:center;}