<a routerLink="/home" routerLinkActive="active">Volver</a>

<div class="contenedor_tablas" >
  
    <h2 class="texto_centrado">ESTADISTICAS COVID</h2><br>

    <table class="tabla_generica">
        <tr>
            <th>FECHA</th>
            <th>POSITIVOS</th>
            <th>NEGATIVOS</th>
            <th>PENDIENTE</th>
            <th>MUERTES</th>
        </tr>
        <tr *ngFor="let covid of informacioncovid">
            <td>{{covid.date}}</td>
            <td>{{covid.positivos}}</td>
            <td>{{covid.negativos}}</td>
            <td>{{covid.pendiente}}</td>
            <td>{{covid.muertes}}</td>
        </tr>
    </table>
  </div>