<div id="contenedor_principal"></div>
<a routerLink="/home" routerLinkActive="active">Volver</a>

<div *ngIf="tipo == 'dashboard'">
    <div class="dialog">
        <div class="dialog-container">
            <div class="dialog-close"><i class="fa fa-times ico_gr"></i>
            </div>
            <h2>INFORMACION</h2><br> <br> <br>
            <div class="contenido_resaltado">
                <p class="justificado texto_azul_oscuro">No se encuentra información de gráficas disponibles
                    <b></b></p>
            </div>
        </div>
    </div>
</div>
