.contenedor{
    margin-top: 4%;
    position: relative;
    display: inline-block;
    text-align: center;
}

.grande-estam{
    position: absolute;
    top: 50%;
    left: 42%;
    width: 200px;
    transform: translate(-50%, -50%);
}

.grande-estam-res{
    position: absolute;
    top: 50%;
    left: 42%;
    width: 120px;
    transform: translate(-50%, -50%);
}

.color-rojo{
    color: red !important;
}

.color-negro{
    color: black !important;
}

.margen_10{
  margin: 10px;
}
.imagenBanner{
  width: 80%;
}
.marge_letra{
  margin-left: auto;
}
.margen_lateral_30{margin-left: 30px !important; margin-right: 10px!important;}

/* Por si es responsive */

    @media (min-width: 955px) {
      .codigo-grande{display:block;}
      .codigo-pequeno{display:none;}
    }
    
    @media (max-width: 955px) {
      .codigo-grande{display:block;}
      .codigo-pequeno{display:none;}
    }
    
    @media (max-width: 650px) {
      .codigo-grande{display:block;}
      .codigo-pequenol{display:none;}
    }
    
    
    @media (max-width: 450px) {
      .codigo-grande{display:none;}
      .codigo-pequeno{display:block;}
    }

    .texto_justificado{text-align: justify;}
    
    .dialog-container-responsive{
        display: block;
        margin: 0 auto;
        background: white;
        width: auto;
        padding: 1em;
        margin-top: 30px;
        position: relative;
      }

      .dialog-close{
        position: absolute;
        right: 5px;
        top:5px;
        cursor: pointer;
      }
      .dialog{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        z-index: 11;
      }