#contenedor_principal{font-family: 'Archivo Narrow', sans-serif; font-size:12px;background-color: rgb(235, 232, 225);}   /*Debe estar en todas*/


.titulo_home {
    text-align: center;
    margin-bottom: 25px;
    color: #0b1922;
    font-size: 50px;
  }


.contenedor{
    margin-top: 4%;
    position: relative;
    display: inline-block;
    text-align: center;
}
