<div id="contenedor_principal">
  <h1 class="titulo_home">{{title}}</h1>
  <nav> 
    <a routerLink="/home" routerLinkActive="active">Inicio</a>
    <br>
    <a routerLink="/estadisticas"  routerLinkActive="active">Estadísticas Covid</a>
    <br>
    <a routerLink="/graficas"  routerLinkActive="active">Dashboard</a>
  </nav>
</div> 
